# Dev related
.idea/
*.egg-info
.pytest_caches/
dist
build
.coverage
.coverage.*
htmlcov/
.cache

package.sh

# Docs
docs/site/
docs/sources/

# Logs
logs/

# Executables
*.sh~
*.pyc

# environments
.venv
