.toctree-l4, .toctree-l5 {
    display: none !important;
}

body > div.wy-grid-for-nav > nav > div > div.wy-side-nav-search > a {
    color: transparent !important;
    background-image: url('../img/logo_light_shadow.svg') !important;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    line-height: 4.5;
    display: flex !important;
}

table {
    margin-bottom: 24px;
}

.auto-width {
    width: auto !important;
}

.wy-side-nav-search {
    background-color: #e88c3b;
}

.wy-side-nav-search input[type=text] {
    border-color: #e88c3b;
}

.wy-menu-vertical a:active {
    background-color: #e88c3b;
    cursor: pointer;
    color: #fff;
}

.wy-side-scroll {
    padding-bottom: 5em;
}

.MathJax_Display {
    overflow-x: auto;
    overflow-y: hidden;
}
